{ns custom.EmailNotification, import #{zenbox zen.fhir aidbox.repository.v1 hl7-fhir-r4-core.Appointment}, schema {:zen/tags #{aidbox.repository.v1/repository zen/schema zen.fhir/base-schema}, :confirms #{zen.fhir/Resource}, :extra-parameter-sources :all, :zen.fhir/version "0.5.11", :zen.fhir/type "EmailNotification", :require #{:status :body :to}, :keys {:name {:type zen/string}, :reference {:confirms #{zen.fhir/Reference}, :zen.fhir/reference {:refers #{hl7-fhir-r4-core.Appointment/schema}}}, :externalId {:type zen/string}, :status {:enum [{:value "in-queue"} {:value "accepted"} {:value "failed"} {:value "delivered"}], :type zen/string}, :from {:type zen/string}, :error {:validation-type :open}, :body {:type zen/string}, :subject {:type zen/string}, :to {:type zen/string}, :data {:validation-type :open}}, :type zen/map}}